*{
    padding: 0px;
    margin: 0px;
}

.myNav{
    background-image: url(../Images/header\ image.jpg);
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 85%;
   
}

.navbar{
    background-color: transparent !important;
}

.navbar-brand{
    color: rgba(0, 196, 26, 0.699) !important;
    font-weight: bolder !important;
    font-family: myFont;
    font-size: 45px;
    letter-spacing: 10px;
    margin-top: 0.3em;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
    
}

.navbar .navbar-nav{
    margin: 0 30em;
}

.nav-link:hover{
    color: rgb(89, 0, 255) !important;
}
.nav-link{
    color: rgba(255, 255, 255, 0.89) !important;
    font-size: 17px;
}

.car-size{
    margin-top: 0em;
    width: 100%;
}

.car-img{
    width: auto;
    height: 400px;
}


/*---------- marquee------------------ */
.marquee {
    height: 40px;
    overflow: hidden;
    position: relative;
    background: #fefefe;
    color: #333;
    /* border: 0.5px solid black; */
    background-color:rgba(38, 133, 197, 0.932) ;
}

.marquee h5 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 40px;
    text-align: center;
    font-family: Font1;
    font-size: 15px;
    letter-spacing: 3px;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 15s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
/*---------- marquee------------------ */

form{
    margin-top: 5%;
    margin-left: 18em;
    margin-right: 15em;
    box-sizing: border-box;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.562);
    padding: 40px 10px;
}

.btn{
    width: 66%;
    
}

body{
    background-image: url(../Images/kerala.jpg);
    z-index: 100;
}
body:before{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../Images/kerala.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}


.form-row h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: ivory;
    font-weight: normal;
}
.fonts{
    color: ivory;
    font-weight: bold;
    
}
.fonts1{
    color: ivory;
}

.form-control{
    /* background-color: rgba(255, 255, 255, 0); */
    border:none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.438);
    background: transparent !important;
    outline: none !important;
    height: 30px;
    color: white;
}
.foot{
    margin-top: 38em;
}

/* ---------------------------------------Password Bar--------------------------------------------- */
body {
    z-index: 1000;
  }
  .pass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pass__inp {
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 255);
    width: 200px;
    margin: 20px 0;
  }
  .pass__label {
    width: 200px;
    height: 10px;
    border-radius: 3px;
    text-align: center;
    display: none;
  }
  .pass__label--weak {
    background-color: crimson;
  }
  .pass__label--fair {
    background-color: yellow;
  }
  .pass__label--good {
    background-color: silver;
  }
  .pass__label--strong {
    background-color: limegreen;
  }
  .pass__text {
    position: relative;
    top: 20px;
    color: white;
    display: none;
  }